---
---

@import "{{ site.theme }}";
a:hover, a:focus {
  color:black;
  font-weight:bolder;
  border-bottom: 2px dotted #ec1193;
}

a {
  color:black;
  font-weight:bolder;
}

body {
  background-color: #efefef;
}

blockquote, blockquote strong {
  color:#222;
}

header {
  width: 200px;
}

strong {
  color: #ec1193;
}


header img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

header h1 {
  display:none;
}

h1 {
  color: #ec1193;
}

footer {
  width:200px;
  display: none;
}

section {
  width:570px;
}

hr {
  margin: 20px 0 20px 0;
}
