---
---

@import "{{ site.theme }}";
a:hover, a:focus {
  color:black;
  font-weight:bolder;
  border-bottom: 2px dotted #023047;
}

a {
  color:black;
  font-weight:bolder;
}

body {
  background-color: #efefef;
}

blockquote, blockquote strong {
  color:#222;
}

header {
  width: 200px;
}

strong {
  background-color: #219EBC;
  color: #efefef;
}

li strong {
  color: #023047;
  background-color: #efefef;
}

header img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


h1 {
  color: #219EBC;
}

h1 a, h1 a:hover, h1 a:focus, {
  color: #219EBC;
}

header h1 {
  display:none;
}

header p {
  text-align:center;
  color: #222;
  padding:5px 0 10px 0;
  margin:0;
}

header p a.name {
  color: #023047;
  font-size: 2em;
  font-weight:bolder;
}

header p.view {
  display:none;
}

h1#ej-van-lanen {
  display:none;
}

footer {
  width:200px;
  display: none;
}

section {
  width:600px;
  border:0;
}

ul.address {
  list-style-type:none;
  text-align:center;
  margin:0 auto 0 auto;
  padding:0;
  width:80%;
}

ul.address li {
  padding-bottom:10px;
}

ul.address li.social {
 width:25%;
 float:left;
 text-align:center;
 font-size:1.2em;
}

hr {
  margin: 20px 0 20px 0;
}

@media print, screen and (max-width: 720px){header,section{width:auto;}ul.address{display:none;padding:0;margin:0;height:1px;}header img{max-width:80%;margin:auto;display:block;}header p a.name{margin-top:10px;display:block;}}

@media print, screen and (max-width: 480px){header,section{width:auto;}ul.address{display:none;padding:0;margin:0;height:1px;}header img{max-width:80%;margin:auto;display:block;}header p a.name{margin-top:10px;display:block;}}

