---
---

@import "{{ site.theme }}";
a:hover, a:focus {
  color:black;
  font-weight:bolder;
  border-bottom: 2px dotted #ec1193;
}

a {
  color:black;
  font-weight:bolder;
}

body {
  background-color: #efefef;
}

blockquote, blockquote strong {
  color:#222;
}

header {
  width: 200px;
}

strong {
  color: #ec1193;
}


header img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


h1 {
  color: #ec1193;
}

h1 a, h1 a:hover, h1 a:focus, {
  color: #ec1993;
}

header h1 {
  display:none;
}

header p {
  text-align:center;
  color: #222
}

header p a.name {
  color: #ec1993;
  font-size: 2em;
  font-weight:bolder;
  padding-top:10px;
}

header p.view {
  display:none;
}

h1#ej-van-lanen {
  display:none;
}

footer {
  width:200px;
  display: none;
}

section {
  width:600px;
}

hr {
  margin: 20px 0 20px 0;
}

ul.address {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}

@media print, screen and (max-width: 720px){header,section{width:auto}ul.address li{float:left; text-align:left; padding-right:5px}header img{max-width:80%;margin:auto;display:block;}header p a.name{margin-top:10px; display:block;}}

@media print, screen and (max-width: 480px){header,section{width:auto}ul.address li{float:left; text-align:left; padding-right:5px}header img{max-width:80%;margin:auto;display:block;}header p a.name{margin-top:10px; display:block;}}

